#about {
    width: 100%;
    align-items: center;
    position: relative;
    margin-top: 100px;
    
    /* padding: 100px 0 100px 0; */
    background-color: white;

}

#about .container {
    width: 95%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
}

#about .container>div {
    width: 45%;
    position: relative;
    margin: auto;
    padding-bottom: 20px;
}

#about .container .first {
    background-color: #046cef;
}

#about .container .first .image {
    height: 550px;
    width: 100%;
}

#about .container .first .image img {
    width: 100%;
    height: 100%;

}

#about .personal {
    padding-left: 30px;
    padding-right: 10px;
}

#about .personal h1 {

    color: white;
    text-align: center;
    padding: 20px 0 10px 0;
    font-size: 25px;

}

#about .personal p {

    color: white;
    /* text-align: center; */
    font-size: 20px;
    font-weight: bolder;
    padding-bottom: 5px;

}


#about .personal .date {

    color: white;
    font-size: 18px;

}



#about .container .aboutme {
    padding: 50px 40px;
    margin-top: 0;
    position: relative;


}

#about .container .aboutme h1 {
    font-size: 30px;
    text-align: center;


}

#about .container .aboutme h4 {
    padding-top: 20px;
    font-size: 20px;
    text-align: justify;
    line-height: 1.5em;
    padding-bottom: 20px;
}

.cont {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.active {
    box-shadow: 0 3px blue;
}

.active2 {
    transform: scale(0);
}

#about .aboutme span {
    color: #046cef;
    cursor: pointer;

    margin-right: 30px;

}
#about .see{
    position: relative;
    width: 100%;
    margin-top: 20px;
    background-color: white;

}
#about .see >div{
    
}

#about #skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    left: 0;
    transition: 2s;
    /* transform: scale(0); */
    position: relative;
}
#about #skills div{
    margin-bottom: 2rem;
    margin-right: 4rem;
}

#about #skills h1 {
    font-size: 20px;
    text-align: left;
}

#about #skills ul li {
    line-height: 1.5em;
}

#about #edus {
    width: 100%;
    transform: scale(0);
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: white; */
    transition: 2s;

}

#about #edus h1 {
    font-size: 18px;
    text-align: left;
    line-height: 1.5em;
}

#about #edus h2 {
    font-size: 15px;
    text-align: left;
    line-height: 1.5em;

}

#about #edus h3 {
    text-align: left;
    line-height: 1.5em;
    font-size: 15px;
}

#about #exps {
    position: absolute;
    transform: scale(0);
    transition: 2s;
    top: 0;
    left: 0;

}

#about #exps h1 {
    font-size: 18px;
    text-align: left;
    line-height: 1.5em;
}

#about #exps h2 {
    font-size: 15px;
    text-align: left;
    line-height: 1.5em;

}

#about #exps h3 {
    text-align: left;
    line-height: 1.5em;
    font-size: 15px;
}
#about .see #exps ul{
    margin-bottom: 20px;
}
#about .see #exps ul li{
    line-height: 1.5em;
}

@media (max-width:1300px) {}

@media (max-width:910px) {
    #about .container {
        display: flex;
        flex-direction: column;
    }

    #about .container>div {
        width: 80%;
    }

    #about {
        padding-bottom: 100px;
    }
}


@media (max-width:500px) {

    /* #about{
        height: 1000px;
    } */
    #about .container>div {
        width: 90%;

    }

    #about .container .first .image {
        height: 450px;
        width: 100%;
    }


    #about .container .aboutme h1 {
        font-size: 20px;
    }

    #about .container .aboutme h4 {
        font-size: 15px;
        padding-right: 10px;
    }

    #about .personal h1 {
        font-size: 20px;
        line-height: 1.5em;
    }

    #about .personal p {
        line-height: 1.5em;
        font-size: 16px;
    }

    #about .personal .date {
        font-size: 15px;
        line-height: 1.5em;
    }

    #about .container #skills h1 {
        font-size: 18px;
    }
}