section{
    width: 100%;
    position: relative;
align-items: center;
margin-top: 100px;
justify-content: center;
background-color: white;
}
section .container{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    margin: auto;
    padding-top: 50px;

}
section .container div{
    width: 45%;
    height: 400px;
    margin: auto;
    position: relative;

}

section .container div img{
    height: 350px;
    width: 100%;


}

