html {
    overflow-x: hidden;
}

* {
    margin: 0;
    text-decoration: none;
}

.blur {
    /* width: 100%;
    height: 100vh;
    z-index: 1000;
    position: fixed; */
    /* background-color: black; */
    /* display: none; */
}

#index.active {
    /* background-color: black; */
    filter: blur(10px);
    user-select: none;
    pointer-events: none;
    /* display: block; */
}

.fixed {
    display: block;
    position: fixed;
    left: 0;
    top: 30%;
    z-index: 700;
    background-color: black;
    border: 1px solid white;
    height: 300px;
    align-items: center;
    opacity: 70%;
    width: 50px;
    justify-content: center;
}

.fixed a {
    display: block;
    margin-bottom: 25px;
    margin-top: 20px;
    margin-left: 5px;
    color: white;
    z-index: 102;
}

.all1 {
    position: fixed;
    left: 0;
    top: 5%;
    border-radius: 50%;
    opacity: 60%;
    z-index: -200;


}

.all2 {
    position: fixed;
    right: 40%;
    top: 5%;
    border-radius: 50%;
    opacity: 60%;
    z-index: -200;


}

.all3 {
    position: fixed;
    right: 0;
    top: 5%;
    border-radius: 50%;
    opacity: 60%;
    z-index: -200;
}

.all4 {
    position: fixed;
    left: 0;
    top: 40%;
    border-radius: 50%;
    opacity: 60%;
    z-index: -200;
}

.all5 {
    position: fixed;
    left: 40%;
    top: 40%;
    border-radius: 50%;
    opacity: 60%;
    z-index: -200;
}

.all6 {
    position: fixed;
    right: 0;
    top:40%;
    border-radius: 50%;
    opacity: 60%;
    z-index: -200;


}

.all7 {
    position: fixed;
    left: 0;
    bottom: 0;
    border-radius: 50%;
    opacity: 60%;
    z-index: -200;
}

.all8 {
    position: fixed;
    left: 40%;
    bottom: 0;
    border-radius: 50%;
    opacity: 60%;
    z-index: -200;
}

.all9 {
    position: fixed;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    opacity: 60%;
    z-index: -200;


}


.one {
    position: fixed;
    left: -5%;
    top: -10%;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: #84a9de;
    opacity: 50%;
    z-index: -201;


}

.two {
    position: fixed;
    left: 5%;
    top: 25%;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    background-color: #84a9de;
    opacity: 20%;
    z-index: -201;


}

.three {
    position: fixed;
    left: -10%;
    bottom: -20%;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    background-color: #84a9de;
    opacity: 50%;
    z-index: -201;


}

.four {
    position: fixed;
    right: -6%;
    top: -30%;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: #84a9de;
    opacity: 30%;
    z-index: -201;


}

.five {
    position: fixed;
    right: -10%;
    top: -10%;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-color: #84a9de;
    opacity: 90%;
    z-index: -201;


}


.six {
    position: fixed;
    right: 40%;
    top: 50%;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-color: #84a9de;
    opacity: 50%;
    z-index: -201;

}

.seven {
    position: fixed;
    right: -5%;
    bottom: -15%;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-color: #84a9de;
    opacity: 50%;
    z-index: -201;


}

@media (max-width:500px) {

    .five,
    .six {
        display: none;
    }
}

body {
    background-color: #3999d5;
    overflow-x: hidden;
    max-width: 100%;
}

header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #046cef;
    align-items: center;
    z-index: 800;
    justify-content: center;
    color: white;
    /* padding-bottom:; */

}

header .h1 {
    font-size: 30px;
    font-weight: bolder;
}

header.active {
    background-color: #046cef;
}

header.active-two {
    filter: blur(10px);
    pointer-events: none;
    user-select: none;
}

header .container {
    width: 90%;
    margin: auto;
    height: 100%;
    position: relative;
    display: flex;
    gap: 5rem;
    /* justify-content: space-between; */
    align-items: center;
}

header .container .links {
    display: flex;
    width: 700px;
    justify-content: space-around;
}

.phone {
    transform: rotate(-270deg);
}

header .picon {
    cursor: pointer;
}

header .container .links a,
header a {
    color: white;
    text-decoration: none;
    font-weight: thin;
    font-size: 22px;

}

.after-links {
    box-shadow: 0 3px white;
    display: none;
}

#bar,
#time {
    position: absolute;
    top: 90px;
    left: 14px;
    font-size: 20px;
    transform: scale(0);
    cursor: pointer;
}

@media (max-width:1200px) {
    header {
        padding-bottom: 35px;

    }

    header .container .links {
        display: none;
    }

    #bar {
        position: absolute;
        top: 40px;
        left: 500px;
        font-size: 30px;
        transform: scale(0);
        cursor: pointer;
        transform: scale(1);

    }

    #time {
        transform: scale(0);
        top: 50px;
        left: 910px;
        font-size: 27px;

    }

    header .container .links a {
        /* display: block; */
        margin-right: 15px;
        font-size: 25px;

    }

    header .container .links {
        display: block;
        position: fixed;
        top: 85px;
        left: 506px;
        transform: scale(0);
        transition: 2s;

    }
}



@media (max-width:940px) {
    header {}

    header .container .links {
        display: none;
    }

    #bar {
        transform: scale(1);
    }

    #bar {
        top: 40px;
        left: 500px;
        font-size: 27px;

    }

    #time {
        transform: scale(0);
        top: 50px;
        left: 740px;

        font-size: 27px;
    }


    header .container .links a {
        margin-right: 15px;
        font-size: 20px;

    }

    header .container .links {
        display: block;
        top: 85px;
        left: 406px;
        position: fixed;
        transform: scale(0);
        transition: 2s;

    }
}

@media (max-width:700px) {
    header {
        padding-bottom: 50px;
    }

    header .container {
        gap: 3.5rem;
    }

    header .container .links {
        display: none;
    }

    #time {
        transform: scale(0);
        top: 80px;
        left: 300px;
        font-size: 23px;

    }

    #bar {
        transform: scale(1);
        top: 80px;
        left: 32px;
        font-size: 23px;

    }


    header .container .links a {
        margin-right: 15px;
        font-size: 16px;

    }

    header .container .links {
        display: block;
        top: 115px;
        left: 10px;
        transition: 2s;
        transform: scale(0);
    }

    header .container .h1 {
        font-size: 20px;
    }

    header .container a {
        font-size: 20px;
    }
}



.pass {
    height: 500px;
    width: 500px;
    margin: auto;
    top: 0;
    background: linear-gradient(to right, #84a9de, #046cef, #84a9de);
    transform: rotate(-5);
    border-radius: 50%;
    animation: 5s change infinite;
    animation-direction: reverse;

}

@keyframes change {
    0% {
        background: linear-gradient(to right, #84a9de, #046cef, #84a9de);
    }

    100% {
        background: linear-gradient(to right, #046cef, #84a9de, #046cef);
    }

}

#cv {
    height: 80vh;
    position: fixed;
    left: 30%;
    width: 40%;
    z-index: 1200;
    height: 100%;
    /* top: 10%; */
    transform: scale(0);
    padding-top: 10px;
    transition: 2s;
    background-color: white;

}

#cv #closecv {
    float: right;
    font-size: 20px;
    cursor: pointer;
    color: white;
    margin-right: 40px;
    padding: 2px 10px;
    border: 1px solid;
    background-color: #046cef;
    border-radius: 10px;

}

#cv #download {
    float: right;
    background-color: #046cef;
    border-radius: 10px;
    margin-right: 20px;
    color: white;
    font-weight: bolder;
    padding: 5px 10px;
    cursor: pointer;
}


#cv img {
    margin-top: 10px;
    width: 100%;
    height: 100%;
}

@media (max-width:900px) {
    #cv {
        width: 70%;
        height: 100%;
        left: 25%;
        top: 0;
    }
}

@media (max-width:900px) {
    #cv {
        width: 60%;
        height: 100%;
        left: 20%;
        top: 0;
    }
}

@media (max-width:650px) {
    #cv {
        width: 90%;
        height: 100%;
        left: 5%;
        top: 0;
    }
}

@media (max-width:500px) {
    #cv {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
}

#index {
    margin-top: 100px;
    width: 100%;
    background-color: white;
    padding: 50px 0;
    position: relative;
}

#index .container {
    display: flex;
    width: 90%;
    position: relative;

}

#index .container .text {
    width: 400px;
    margin: auto;
    color: black;
    padding: 0 130px;
    position: relative;
    z-index: 200;


}

#index .container .text h4 {
    font-size: 30px;
    margin-top: -100px;

}

#index .container .text h2 {
    font-size: 40px;
    margin-top: 10px;

}

#index .container .text h3 {
    font-size: 25px;
    margin-top: 10px;

}

#index .container .text h5 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 50px;

}

#index .container .text form {
    border-radius: 10px;
    background: #046cef;
    width: 265px;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    padding-left: 10px;
    position: relative;
    height: 30px;

}

#index .container .text form input:first-of-type {
    background-color: #046cef;
    border: none;
    outline: none;
}

#index .container .text form input:last-of-type {
    background-color: white;
    border: 1px solid #046cef;
    border-radius: 10px;
    color: #046cef;
    cursor: pointer;
    padding-right: 5px;
    font-weight: bolder;


}

#index .container .image {
    width: 350px;
    margin: auto;
    height: 450px;
    position: relative;

}

#index .container .image img {
    width: 100%;
    height: 100%;
}

#index .container #resume,
#index .container #more {
    margin-top: 20px;
    cursor: pointer;
    margin-right: 20px;
    background-color: #046cef;
    color: white;
    height: 35px;
    padding: 0 15px;
    border: 1px solid white;
    border-radius: 15px;
    font-weight: bold;
    transition: 2s;
    font-size: 15px;

}

#index .container #resume:hover,
#index .container #more:hover {
    background-color: #3999d5;
    color: white;
}


@media (max-width:1100px) {
    .pass {
        height: 390px;
        width: 400px;
    }

    #index .container .text h2 {
        /* margin-top: 50px; */
    }

    #index .container .text h3 {
        /* margin-top: -20px; */

    }

    #index .container .text h4 {
        margin-top: 30px;

    }

    #index .container .image {
        margin: auto;
        height: 390px;
    }

    #index .container .image img {
        height: 80%;
        margin: auto;
    }
}

@media (max-width:900px) {

    #index .container {
        flex-direction: column-reverse;
    }

    #index .container .text {
        /* margin-left: 10%; */
        margin-top: 100px;

    }

    #index .container .text h2 {
        /* margin-top: -30px; */
    }

    #index .container .text h3 {
        /* margin-top: -20px; */

    }

    #index .container .text h5 {
        /* margin-top: -15px; */

    }
}


@media (max-width:500px) {
    #index .container .text {
        padding: 0 60px;
    }

    #index .container .text h2 {
        font-size: 30px;
        /* margin-top: -30px; */
    }

    #index .container .text h3 {
        font-size: 20px;
        /* margin-top: -20px; */

    }

    #index .container .text h5 {
        font-size: 20px;
        /* margin-top: -15px; */

    }

    #index .container .image {
        margin: auto;
        height: 440px;
    }
}

@media (max-width:375px) {
    #index .container .text {
        padding: 0 45px;
    }

    #index .container .text h2 {
        font-size: 30px;
        /* margin-top: -25px; */
    }

    #index .container .text h3 {
        font-size: 18px;
        /* margin-top: -15px; */

    }

    #index .container .text h5 {
        font-size: 20px;
        /* margin-top: -10px; */

    }

    #index .container .pass {
        width: 350px;
        height: 350px;
    }

    #index .container .image {
        width: 300px;
        height: 400px;
    }
}